body{
  background-color:rgb(105, 102, 102);
}

.circle-img {
  background: white;
  height: 140px;
  width: 140px;
  text-align: center;
  margin-right: 50px;
  border: 1px solid black;
  border-radius:50%;
  display:inline-block;
  padding:15px;
  
}
img {
  width: 100px;
  height: 100px;
  display:block;
}
.input-field{
   width: 100%; 
   margin: 5px;
   border: none;
}
.tag-input{
  border-bottom: 1px solid rgb(35, 35, 35) !important;
  margin: 10px;
}

.scollable-card {
  margin-top: 45px;
  margin-bottom: 35px;
  width: 1000px;
  height:550px;
  overflow-y: scroll;
}


.boxed {
  border: none;
  border-radius: 3px;
  font-size: 17px;
  background-color:rgb(145, 141, 141);
  padding: 4px;
}
