.background-body{
  background:rgb(130, 128, 128);
  height: 100%;
}

.circle-img {
  background: white;
  height: 140px;
  width: 140px;
  margin-right: 40px;
  border: 1px solid black;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sticky {
  position: sticky;
}
img {
  width: 100px;
  height: 100px;
  display:block;
}
.input-field{
  top: 0;
   width: 100%; 
   margin: 8px;
   border-width: 0;  
  border-bottom-width: 1px;  
  border-radius: 0;  
  padding-left: 0;  
}
.tag-input{
  border-width: 0;  
  border-bottom-width: 1px;  
  border-radius: 0;  
  padding-left: 0;  
}
input:focus{
  outline: none;
}

.scollable-card {
  margin: 3%;
  width: 800px;
  height:550px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.boxed {
  border: none;
  border-radius: 3px;
  font-size: 17px;
  background-color:rgb(145, 141, 141);
}
